.btn-sidebar {
  padding: 0.1rem 0.3rem;
}
.nav-pills .nav-link.active {
  background-color: #ffc107;
}
.btn-group-custom {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
.btn-group-custom > * {
  border-radius: 0;
  border-width: 1px 1px 1px 0;
}
.btn-group-custom > label:first-of-type {
  border-radius: 0.25rem 0 0 0.25rem;
  border-left-width: 1px;
}
.btn-group-custom > label:last-of-type {
  border-radius: 0 0.25rem 0.25rem 0;
}
h3 > small {
  font-size: 0.8em;
  font-weight: normal;
}
@media (max-width: 768px) {
  .nav-side {
    position: absolute;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
  }
}
@media (min-width: 576px) {
  .btn-group-custom {
    flex-direction: column !important;
  }
  .btn-group-custom > * {
    border-width: 0 1px 1px 1px;
  }
  .btn-group-custom > label:first-of-type {
    border-radius: 0.25rem 0.25rem 0 0;
    border-top-width: 1px;
  }
  .btn-group-custom > label:last-of-type {
    border-radius: 0 0 0.25rem 0.25rem;
  }
}
